#text{
    text-align: center;
    color: goldenrod;
}
#canvas1{
    border: 10px solid goldenrod;
}
#canvas2{
    border: 10px solid goldenrod;
}
#canvas3{
    border: 10px solid goldenrod;
}
#canvas4{
    border: 10px solid goldenrod;
}
#canvas{
    border: 10px solid goldenrod;
}